.cadastroForm {
    display: flex;
    flex-direction: column;
    width: 302px;
}

.cadastroForm h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 470;
    font-size: 30px;
    line-height: 45px;
    color: #000000;
}

.campoTexto {
    margin-bottom: 20px;
}

.cadastroForm a {
    margin-top: 15px;
    display: flex;
    justify-content: end;
    text-decoration: none;
    color: #B0B0B0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}

.botao{
    margin-top: 40px;
}

.cadastroForm p {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #B5B5B5;
}

@media(max-width: 320px){
    
    .cadastroForm .campoTexto{
      max-width: 100%;
      flex-direction: column;
    }
}