:root {
  --cor-escura: #333333;
  --cor-clara: #E5E5E5;
  --cor-link: #3e1adf;
}


.mainLogin {
  position: relative;
  color: var(--cor-clara);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-escura); /* Cor de fundo escura */
  width: 100vw;
  height: 100vh;
  
}

.LoginInfo {
  z-index: 2;
  width: 40vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.CardL{
  position: relative;
  margin-left: 5vw;
  width: 420px;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  padding: 40px 35px;
  background:#5b2ece ;
  border-radius: 30px;
  box-shadow: 0px 10px 40px #00000056;
  
}

.Login {
  position: relative;
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  
}


.Baleia {
  width: 35%;
}

.linha-vertical2 {
  position: absolute;
  width: 100%;
  border-top:  350px solid ;
  color: #5b2ece;
  
  
    
}

@media (max-width: 1340px) {
  .Baleia {
      display: none;
  }

  .mainLogin .linha-vertical2 {
      display: none;
  }
}

@media (max-width: 1024px) {
  .Baleia,
  .mainLogin .linha-vertical2 {
      display: none;
  }
}

@media (max-width: 720px) {
  .Baleia,
  .mainLogin .linha-vertical2 {
      display: none;
  }
}

@media (max-width: 584px) {
  .mainLogin {
      max-width: 100%;
      overflow-y: scroll;
  }

  .mainLogin .linha-vertical2 {
      display: none;
  }

  .mainCadastro::-webkit-scrollbar {
      width: 5px;
  }
}

@media (max-width: 430px) {
  .LoginInfo {
      display: none;
  }
}

@media (max-width: 320px) {
  .container {
      max-width: 100%;
      flex-direction: column;
  }

  .Login {
      max-width: 80%;
      margin-right: 0px;
  }

  .LoginInfo,
  .LoginInfo .Baleia,
  .mainLogin .linha-vertical2 {
      display: none;
  }
}
